@charset "utf-8";
/* CSS Document */
#mainr { width: 783px; height: auto; background-color: white; }
.mainr { width: 700px; height: auto; margin: 30px 41px 30px 41px;}
.recharge { width: 700px; 
			height: 140px; 
			margin-bottom: 20px;
			font-size: 14px;
			color: #202020; 			
		}
.mainr .title { width: 700px; height: 34px; background-color: #ecf9ff; border-bottom: 1px solid #b9e5fa; line-height: 34px; font-size: 20px; }
.mainr input { height: 22px; 
			   width: 178px; 
			   border: 1px solid #d4d4d4; 
			   background-color: #f9f9f9;
			   padding: 4px 10px 4px 10px;
			   margin-left: 10px;
			 }
.recharge .contact { height: 104px; 
					 width: 698px; 
					 border-bottom: 1px solid #d4d4d4; 
					 border-left: 1px solid #d4d4d4; 
					 border-right: 1px solid #d4d4d4;
					 line-height: 104px; 
					}
.withdraw_cash { width: 700px; height: auto;}
.withdraw_cash .contain { width: 698px; 
				  		  height: auto;
				  		  margin-bottom: 30px;
				  		  padding-top: 20px; 
				  		  border-bottom: 1px solid #d4d4d4; 
				  		  border-left: 1px solid #d4d4d4; 
				  		  border-right: 1px solid #d4d4d4;}
.contain .size { height: 30px; margin-bottom:15px; line-height: 30px;}
.contain .size img { visibility: hidden; margin-left: 5px;}
.contain .size .head { width: 80px; text-align: right;}
.contain .size .content { width: 240px; text-align: left;}
.contain .text { width: 200px; height: 25px; line-height: 25px; margin-left: 275px; margin-bottom: 10px;}
.contain .text span { float: left;}
.contain .text img { padding-top: 5px; margin-right:5px; float: left;}
.confirm input { width: 98px;}
.confirm a { color: #088ae0; text-decoration: underline; margin-left: 7px;}
.contain .btn { width: 280px; height: 48px; margin-bottom: 20px; background-color: #088ae0; line-height: 48px; color: white; font-size: 18px;}
.content span { margin-left: 10px;}