@charset "utf-8";
/* CSS Document */
#mainr { width: 783px; height: auto; background-color: white; }
.mainr { width: 700px; height: auto; margin: 0 41px 20px 41px; font-size: 14px;}
.mainr input { height: 22px; 
			   width: 178px; 
			   border: 1px solid #d4d4d4; 
			   background-color: #f9f9f9;
			   padding: 4px 10px 4px 10px;
			   margin-left: 10px;
			 }
.mainr .title { width: 700px;
			    height: 34px; 
			    background-color: #ecf9ff; 
			    border-bottom: 1px solid #b9e5fa; 
			    line-height: 34px; 
			    font-size: 20px;
			  }
.mainr .contain { height: auto; 
				  width: 698px;
				  margin-bottom: 20px;
				  padding-bottom: 5px;
				  border-bottom: 1px solid #d4d4d4; 
				  border-left: 1px solid #d4d4d4; 
				  border-right: 1px solid #d4d4d4;
				}
.frame { width: 700px; height: auto; margin-top: 20px; color: #000000;}
.revise_password { width: 700px; height: auto; }
.revise_password .contain { height: auto; padding-top: 20px; padding-bottom: 20px;}
.binding { width: 700px; height: auto;}
.binding .contain { height: auto; padding-top: 20px; padding-bottom: 20px;}
.revise_bank { width: 700px; height: auto;}
.revise_bank .contain { height: auto; padding-top: 20px; padding-bottom: 20px}
.contain .size { height: 32px; margin-bottom:20px; line-height: 32px;}
.contain .size img { visibility: hidden; margin-left: 5px;}
.contain .size .head { width: 70px; text-align: right;}
.contain .size .content { width: 240px; text-align: left;}
.contain .btn { height: 48px; 
				width: 200px; 
				background-color: #088ae0; 
				line-height: 48px; 
				color: white; 
				font-size: 18px; 
				margin-top: 20px;
			  }
.contain .text { height: 25px; width: 200px; line-height: 25px; margin-left: 275px; margin-top: 10px;}
.contain .text span { float: left;}
.contain .text img { padding-top: 5px; margin-right:5px; float: left;}
.confirm input { width: 98px;}
.confirm a { color: #088ae0; text-decoration: underline; margin-left: 7px;}