@charset "utf-8";
/* CSS Document */
.mainr-big { width: 783px; height: auto; background-color: white; color: black; margin-top: 20px;}
.mainr { width: 700px;  margin-top: 20px; margin-bottom: 20px;font-size: 14px;}
.mainr .frame { width: 700px; height: auto; border-bottom: 1px solid #d4d4d4; }
.mainr .frame .title { width: 700px; height: 34px; background-color: #ecf9ff; border-bottom: 1px solid #b9e5fa; line-height: 34px; font-size: 20px }
.mainr .frame .brief { width: 700px; height: auto; padding-bottom: 10px; padding-top: 20px;}
.mainr .frame .brief .nav { width: auto; height: 40px; text-align: right; font-weight: bold;}
.mainr .frame .brief .l_nav { width: 120px; }
.mainr .frame .brief .r_nav { width: 170px; }
.mainr .frame .brief .content { width: auto; height: 40px; text-align: left;}
.mainr .frame .brief .l_content { width: 280px;}
.mainr .frame .brief .r_content { width: 110px;}
.mainr .frame .cframe { width: 700px; height: auto; margin-top: 25px; margin-bottom: 25px;}
.mainr .frame .cframe .ctitle { height: 30px; margin-left: 0 !important; padding-left: 13px; padding-right: 13px; 
						 font-weight: bold; line-height: 30px; 
						 background-color: #ecf9ff;}
.mainr .cframe .ccontent { margin-top: 10px; padding-left: 13px; padding-right: 13px;}
.mainr .cframe .ccontent img { width: 700px;}
.mainr img{
	margin:20px 0;
}
.box_skitter {
	width: 700px;
	margin: 20px 0;
}

.big-title{
    line-height: 24px;
    font-size: 24px;
    padding: 5px;background-color: #ecf9ff;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: '微软雅黑';
}