@charset "utf-8";
/* CSS Document */
.mainr-big { width: 783px; height: auto; background-color: white; color: black;}
.mainr { width: 700px; height: auto; margin-top: 20px; margin-bottom: 20px;font-size: 14px;}
.mainr .frame { width: 700px; height: auto; border-bottom: 1px solid #d4d4d4; }
.mainr .frame .title { width: 700px; height: 34px; background-color: #ecf9ff; border-bottom: 1px solid #b9e5fa; line-height: 34px; font-size: 20px }
.mainr .frame .brief { width: 700px; height: auto; padding-bottom: 10px; padding-top: 20px;}
.mainr .frame .brief .nav { width: auto; height: 40px; text-align: right; font-weight: bold;}
.mainr .frame .brief .l_nav { width: 120px; }
.mainr .frame .brief .r_nav { width: 170px; }
.mainr .frame .brief .content { width: auto; height: 40px; text-align: left;}
.mainr .frame .brief .l_content { width: 280px;}
.mainr .frame .brief .r_content { width: 110px;}
.mainr .frame .cframe { width: 700px; height: auto; margin-top: 25px; margin-bottom: 25px;}
.mainr .frame .cframe .ctitle { height: 30px; margin-left: 0 !important; padding-left: 13px; padding-right: 13px; 
						 font-weight: bold; line-height: 30px; 
						 background-color: #ecf9ff;}
.mainr .cframe .ccontent { margin-top: 10px; padding-left: 13px; padding-right: 13px;}
.mainr .manage { width: 700px; height: auto; margin-top: 30px; margin-bottom: 30px; padding-top: 10px;}
.mainr .manage .title { padding-left: 10px; margin-bottom: 15px; font-weight: bold;}
.mainr .manage .nav { width: 650px; height: 34px; padding: 0 25px 0 25px; 
					  line-height: 34px; color: #6d6e71; 
					  background-color: #ecf9ff; border-bottom: 1px solid #b9e5fa;}
.mainr .manage .nav .nav1 { width: 90px;}
.mainr .manage .nav .nav2 { width: 180px;}
.mainr .manage .nav .nav3 { width: 380px;}
.mainr .manage ul { width: 650px; height: auto; padding: 0 25px 0 25px; color: #000;}
.mainr .manage ul li { height: 40px; border-bottom: 1px solid #d4d4d4; line-height: 40px;}
.mainr .manage ul li div { height: 40px; float: left;}
.mainr .manage ul li div span { color: #088ae0;}
.mainr .manage .content1 { width: 90px;}
.mainr .manage .content2 { width: 180px;}
.mainr .manage .content3 { width: 380px;}
.box_skitter {
	width: 700px;
	margin: 20px 0;
}